<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>标签群</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/layui/css/layui.mobile.css}">
    <link rel="stylesheet" th:href="@{https://res.wx.qq.com/open/libs/weui/1.1.2/weui-for-work.css}">
</head>
<body class="weui-page">
<h1 th:id='userName' th:text="'Hello, ' + ${username} + '!'" class="page__title"></h1>
<hr class="layui-bg-blue">
<form class="weui-form">
    <div class="weui-form__control-area">
        <div class="weui-cells__group weui-cells__group_form">
            <div class="weui-cells weui-cells_checkbox">
                <label class="weui-cell weui-cell_active weui-check__label" th:each="tag : ${AllTags}" th:for="${#ids.next('tag')}">
                    <div class="weui-cell__hd">
                        <input type="checkbox" th:name="Tag" th:id="${#ids.seq('tag')}" th:value="${tag.author}" th:checked="${tag.isChecked}" class="weui-check"/>
                        <i class="weui-icon-checked"></i>
                    </div>
                    <div class="weui-cell__bd">
                        <p th:text="${tag.author}"></p>
                    </div>
                </label>
            </div>
        </div>
    </div>
    <div class="weui-form__opr-area">
        <a class="weui-btn weui-btn_primary" href="javascript:" id="showTooltips"></a>
        <input class="b_button" type="submit" value="提交" onclick="nextStep()"/>
        <input class="b_button" type="reset" value="重置" />
    </div>
<!--    <div class="weui-form__tips-area">-->
<!--        <p class="weui-form__tips">-->
<!--            点击下一步即表示<a href="javascript:">同意用户协议</a>-->
<!--        </p>-->
<!--    </div>-->
</form>
<!--<div id="js_toast" style="display: none;">-->
<!--    <div class="weui-mask_transparent"></div>-->
<!--    <div class="weui-toast">-->
<!--        <i class="weui-icon-success-no-circle weui-icon_toast"></i>-->
<!--        <p class="weui-toast__content">已完成</p>-->
<!--    </div>-->
<!--</div>-->
</body>
<script type="text/javascript">
    $(function(){
        var $tooltips = $('.js_tooltips');
        var $toast = $('#js_toast');

        $('#showTooltips').on('click', function(){
            // toptips的fixed, 如果有`animation`, `position: fixed`不生效
            $('.page.cell').removeClass('slideIn');

            $toast.fadeIn(100);
            setTimeout(function () {
                $toast.fadeOut(100);
            }, 2000);
        });
    });
    function nextStep(){
        var userName = document.getElementById("userName");
        var box = document.getElementsByName("Tag");
        var len = box.length;
        var apiContentStr= userName+",";

        for(var i=0;i< len;i++){
            if(box[i].checked === true){
                apiContentStr += box[i].value+",";
            }
        }
        if(apiContentStr === userName+"," || apiContentStr.length === userName.length+1){
            alert("请勾选需要的资源项!");
            return;
        }
        apiContentStr = apiContentStr.substring(0, apiContentStr.length-1);
        var httpRequest = new XMLHttpRequest();//第一步：创建需要的对象
        httpRequest.open('POST', 'message.lezizijiang.cn/subscribe', true); //第二步：打开连接
        httpRequest.setRequestHeader("Content-type","application/x-www-form-urlencoded");
        httpRequest.send(apiContentStr);
        // todo 确认信息类型，增加注解
    }
</script>
</html>
